td{
    border: 1px slategray;
    padding: 2px;
    text-align: center;
    background-color: rgb(0, 127, 127);
    border-radius: 6px;
    color: rgb(255, 234, 234)

}
th{
    padding: 2px;
    text-align: center;
    background-color: chocolate;
    border-radius: 6px;
    color: aliceblue;
}
table{
    background-color: azure;
    width: 100x;
}
body{
    background-color: aquamarine;
}

    





